################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClaimProcess.API/.vs
/ClaimProcess.API/ClaimProcess.API/obj
/ClaimProcess.API/ClaimProcess.API/bin/Debug/net6.0
